{
  "openapi": "3.1.0",
  "info": {
    "title": "Sergeant API",
    "version": "v1",
    "description": "Сгенеровано з zod-схем у `@sergeant/shared/schemas/api`. Не редагуй вручну — `pnpm api:generate-openapi` перегенерує."
  },
  "servers": [
    {
      "url": "https://sergeant.app",
      "description": "Production (Vercel edge → Coolify/Hetzner)"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local dev (apps/server, default Express PORT)"
    }
  ],
  "paths": {
    "/api/me": {
      "get": {
        "summary": "Поточний публічний профіль користувача",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/me/profile": {
      "get": {
        "summary": "Профіль/біометрія користувача (write-through блоб)",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Profile blob; { profile: {}, updatedAt: null } коли рядка ще немає.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfileResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Перезаписати профіль/біометрію (upsert по user_id)",
        "tags": [
          "auth"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UserProfilePutBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Оновлений profile blob.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/chat": {
      "post": {
        "summary": "Anthropic-чат: streaming SSE або JSON",
        "tags": [
          "chat"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/chat/usage": {
      "get": {
        "summary": "Денний Free-tier ліміт AI-чату (PR-42 chat counter)",
        "tags": [
          "chat"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Плюс/Pro → limit/remaining=null (unlimited); Free → поточний денний рахунок.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChatUsageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/ai-memory": {
      "delete": {
        "summary": "Очистити серверну памʼять ШІ поточного користувача.",
        "tags": [
          "ai-memory"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Памʼять очищено.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiMemoryClearResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/ai-memory/list": {
      "get": {
        "summary": "Список збережених фактів AI-памʼяті поточного користувача.",
        "tags": [
          "ai-memory"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Розмір сторінки."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "Keyset-курсор: `nextCursor` попередньої сторінки (повертає рядки з меншим id)."
          }
        ],
        "responses": {
          "200": {
            "description": "Сторінка фактів (масив може бути порожнім).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiMemoryListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/ai-memory/{id}": {
      "delete": {
        "summary": "Видалити один факт AI-памʼяті. Назавжди, без відновлення.",
        "tags": [
          "ai-memory"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "`ai_memories.id` з відповіді `/api/ai-memory/list`."
          }
        ],
        "responses": {
          "200": {
            "description": "Ідемпотентний успіх. `deleted:false` — рядка вже не було.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiMemoryDeleteResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/ai-memory/recall": {
      "post": {
        "summary": "Semantic-пошук у ai_memories за query (Voyage embed → pgvector ANN).",
        "tags": [
          "ai-memory"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecallMemoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Recall hits (масив може бути порожнім).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecallMemoryResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "AI memory вимкнено (`AI_MEMORY_ENABLED=false`) або провайдер ембеддингів недоступний.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/coach/memory": {
      "get": {
        "summary": "Зчитати збережений coach memory blob",
        "tags": [
          "coach"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Записати coach memory (weekly digest snapshot)",
        "tags": [
          "coach"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoachMemoryPost"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/coach/insight": {
      "post": {
        "summary": "Згенерувати coach insight (Anthropic) на основі snapshot + memory",
        "tags": [
          "coach"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoachInsight"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/weekly-digest": {
      "post": {
        "summary": "Згенерувати тижневий digest по агрегатах модулів",
        "tags": [
          "digest"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WeeklyDigest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/nutrition/analyze-photo": {
      "post": {
        "summary": "Аналіз фото страви: КБЖВ + ingredient-список",
        "tags": [
          "nutrition"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnalyzePhoto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/nutrition/refine-photo": {
      "post": {
        "summary": "Уточнити аналіз фото (Q&A + portion override)",
        "tags": [
          "nutrition"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefinePhoto"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/nutrition/parse-pantry": {
      "post": {
        "summary": "Розпарсити вільнорядковий список комори у структурний",
        "tags": [
          "nutrition"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParsePantry"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/nutrition/recommend-recipes": {
      "post": {
        "summary": "Рекомендувати рецепти за коморою + preferences",
        "tags": [
          "nutrition"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecommendRecipes"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/nutrition/day-hint": {
      "post": {
        "summary": "Згенерувати hint наступного прийому їжі на день",
        "tags": [
          "nutrition"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DayHint"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/nutrition/day-plan": {
      "post": {
        "summary": "Згенерувати/перегенерувати план прийомів їжі на день",
        "tags": [
          "nutrition"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DayPlan"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/nutrition/week-plan": {
      "post": {
        "summary": "Згенерувати тижневий план меню",
        "tags": [
          "nutrition"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WeekPlan"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/nutrition/shopping-list": {
      "post": {
        "summary": "Зібрати shopping-list з рецептів + week-plan",
        "tags": [
          "nutrition"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ShoppingList"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/nutrition/backup-upload": {
      "post": {
        "summary": "Завантажити зашифрований backup nutrition-blob",
        "tags": [
          "nutrition"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BackupUpload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/nutrition/backup-download": {
      "post": {
        "summary": "Отримати останній зашифрований backup nutrition-blob",
        "description": "Роут під `requireSession()` — потрібна активна сесія або Bearer-токен. Storage key bind-иться до `req.user.id` через HMAC-SHA256(`NUTRITION_BACKUP_KEY_SECRET`, `userId|x-token`), тому `x-token` лише namespace-ить кілька бекапів одного юзера (наприклад, по пристроях) і НЕ використовується для авторизації. Повертає 404, якщо для пари (userId, x-token) бекапів ще немає.",
        "tags": [
          "nutrition"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-token",
            "schema": {
              "type": "string",
              "minLength": 1,
              "description": "Опаковий namespace-токен для розрізнення кількох бекапів одного юзера (наприклад, per device)."
            },
            "required": true,
            "description": "Опаковий namespace-токен для розрізнення кількох бекапів одного юзера (наприклад, per device)."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Backup для наданого x-token не знайдено.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/push/vapid-public": {
      "get": {
        "summary": "Публічний VAPID-ключ для web-push subscribe",
        "tags": [
          "push"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/api/push/register": {
      "post": {
        "summary": "Зареєструвати push-пристрій (web/ios/android)",
        "tags": [
          "push"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushRegister"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/push/unregister": {
      "post": {
        "summary": "Зняти push-пристрій",
        "tags": [
          "push"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushUnregister"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/push/subscribe": {
      "post": {
        "summary": "Web-push subscribe (legacy alias для /push/register web)",
        "tags": [
          "push"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushSubscribe"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Web-push unsubscribe (legacy alias для /push/unregister web)",
        "tags": [
          "push"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushUnsubscribe"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/push/send": {
      "post": {
        "summary": "Internal-only fan-out push (worker → cron job)",
        "tags": [
          "push"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushSend"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Send summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushSendSummary"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/push/test": {
      "post": {
        "summary": "Надіслати тестовий push поточному користувачеві",
        "tags": [
          "push"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushTestRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Send summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushTestResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/privat": {
      "get": {
        "summary": "PrivatBank API proxy (credentials resolved from session)",
        "tags": [
          "banks"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "path",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256,
              "pattern": "^\\/[A-Za-z0-9\\-_/]+$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/privat/connect": {
      "post": {
        "summary": "Store PrivatBank merchant credentials (validated upstream)",
        "tags": [
          "banks"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "merchantId": {
                    "type": "string",
                    "description": "Merchant ID з Приват24 Бізнес."
                  },
                  "token": {
                    "type": "string",
                    "description": "Merchant-токен. Передається рівно один раз; на сервері зберігається під AES-256-GCM і клієнту вже не повертається."
                  }
                },
                "required": [
                  "merchantId",
                  "token"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/privat/disconnect": {
      "post": {
        "summary": "Delete stored PrivatBank credentials",
        "tags": [
          "banks"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/privat/status": {
      "get": {
        "summary": "PrivatBank connection status (never returns the token)",
        "tags": [
          "banks"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/mono/webhook": {
      "post": {
        "summary": "Mono webhook (X-Mono-Webhook-Secret header — edge-proxy only)",
        "tags": [
          "mono"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-mono-webhook-secret",
            "schema": {
              "type": "string",
              "description": "Per-user webhook secret у header-і. Використовується лише коли edge-proxy перекладає path-secret у header; Monobank сам шле через path-маршрут. Не потрапляє в access-логи."
            },
            "required": true,
            "description": "Per-user webhook secret у header-і. Використовується лише коли edge-proxy перекладає path-secret у header; Monobank сам шле через path-маршрут. Не потрапляє в access-логи."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/api/mono/webhook/{secret}": {
      "post": {
        "summary": "Mono webhook (per-user secret у URL — транспорт Monobank; secret редагується в логах + ротується 90d, C1)",
        "tags": [
          "mono"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "secret",
            "schema": {
              "type": "string"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/api/mono/connect": {
      "post": {
        "summary": "Підключити Mono-token та зареєструвати webhook",
        "tags": [
          "mono"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Mono integration активовано.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonoConnectResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/mono/disconnect": {
      "post": {
        "summary": "Відключити Mono-token + забути webhook secret",
        "tags": [
          "mono"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Mono integration вимкнено.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonoDisconnectResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/mono/sync-state": {
      "get": {
        "summary": "Статус Mono-інтеграції + лічильники webhook events",
        "tags": [
          "mono"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Поточний стан синхронізації.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonoSyncState"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/mono/accounts": {
      "get": {
        "summary": "Список Mono-рахунків поточного користувача",
        "tags": [
          "mono"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Нормалізовані рядки `mono_accounts`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonoAccountsResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/mono/transactions": {
      "get": {
        "summary": "Cursor-paginated історія Mono-транзакцій",
        "tags": [
          "mono"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "to",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "accountId",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 50,
              "type": "integer",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "type": "string",
              "minLength": 3
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Сторінка транзакцій + nextCursor.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonoTransactionsPage"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/mono/backfill": {
      "post": {
        "summary": "Бекфіл історії транзакцій у Mono integration",
        "tags": [
          "mono"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Бекфіл запущено синхронно — виконується в фоновому режимі.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonoBackfillResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/mono/backfill-progress": {
      "get": {
        "summary": "Поточний стан per-user backfill job-а (для UI індикатора)",
        "tags": [
          "mono"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Snapshot поточного стану backfill-у (idle/running/completed/failed).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonoBackfillProgress"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/finyk/receipts/lookup": {
      "post": {
        "summary": "QR/ДПС lookup чека — draft БЕЗ запису в БД",
        "tags": [
          "finyk"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReceiptLookupRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Чернетка чека, розпізнана ДПС XML.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptDraftResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "DPS_RECEIPT_NOT_FOUND — чек ще не зʼявився в реєстрі ДПС.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "502": {
            "description": "DPS_UPSTREAM_ERROR | DPS_PARSE_ERROR.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "DPS_TOKEN_MISSING | DPS_AUTH_ERROR.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/finyk/receipts/analyze": {
      "post": {
        "summary": "Vision-fallback аналіз фото чека — draft БЕЗ запису в БД",
        "tags": [
          "finyk"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReceiptAnalyzeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Чернетка чека (source:'vision', fiscalNum:null, confidence 0..1).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptDraftResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "413": {
            "description": "TOO_LARGE — НЕ канонічний ApiError envelope, див. коментар вище.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "415": {
            "description": "INVALID_BASE64 | TRUNCATED | MAGIC_MISMATCH — НЕ канонічний ApiError envelope, див. коментар вище.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "RECEIPT_VISION_UNAVAILABLE — жоден vision-провайдер не сконфігурований.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/finyk/receipts": {
      "post": {
        "summary": "Зберегти чек (draft + category)",
        "description": "Ідемпотентний: `201` — новий чек, `200` + `alreadyExists:true` — повторний скан (той самий fiscal_num, або той самий `clientScanId` для vision-чеків без fiscal_num).",
        "tags": [
          "finyk"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReceiptSaveRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "alreadyExists:true — ідемпотентний повторний скан.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptSaveResponse"
                }
              }
            }
          },
          "201": {
            "description": "Новий чек створено.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptSaveResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/finyk/receipts/{id}": {
      "get": {
        "summary": "Чек з позиціями для розгортки транзакції",
        "tags": [
          "finyk"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "`receipts.id`."
          }
        ],
        "responses": {
          "200": {
            "description": "Чек з items[] + link (mono|manual|null).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReceiptGetResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Чужий чек АБО неіснуючий id (сервер не розрізняє).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/finyk/import/screenshot/analyze": {
      "post": {
        "summary": "Vision-розпізнавання скріна банкінгу — draft БЕЗ запису в БД",
        "tags": [
          "finyk"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportScreenshotAnalyzeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "docType 'bank_screenshot'|'receipt'|'other' + rows[] (rows:[] для receipt/other).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportScreenshotAnalyzeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "413": {
            "description": "TOO_LARGE — НЕ канонічний ApiError envelope (той самий guard, що receipts/analyze).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "415": {
            "description": "INVALID_BASE64 | TRUNCATED | MAGIC_MISMATCH — НЕ канонічний ApiError envelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "IMPORT_VISION_UNAVAILABLE — жоден vision-провайдер не сконфігурований.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/finyk/import/statement/preview": {
      "post": {
        "summary": "CSV-only парсинг банківської виписки — БЕЗ запису в БД",
        "description": "Discriminated за `needsMapping`: `false` → `profile`+`rows`+`skipped`; `true` → `headers`+`sampleRows` для ручного column-mapper.",
        "tags": [
          "finyk"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportStatementPreviewRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Автопрофіль (mono/privat24/custom) або needsMapping:true.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportStatementPreviewResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/finyk/import/commit": {
      "post": {
        "summary": "Commit вибраних rows → журнал import_batches + manual expenses",
        "tags": [
          "finyk"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportCommitRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "batchId + created/linked + skipped{monoMatched,duplicate}.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportCommitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/finyk/import/batches/{id}": {
      "get": {
        "summary": "Статус/підсумок батчу імпорту",
        "tags": [
          "finyk"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "`import_batches.id`."
          }
        ],
        "responses": {
          "200": {
            "description": "Batch зі статусом completed|undone + лічильники.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportBatchGetResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Чужий батч АБО неіснуючий id (сервер не розрізняє).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Undo батчу — tombstone кожного created row",
        "description": "Ідемпотентний: повторний виклик повертає `tombstoned:0`, той самий `200`.",
        "tags": [
          "finyk"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "`import_batches.id`."
          }
        ],
        "responses": {
          "200": {
            "description": "Batch зі статусом 'undone' + tombstoned (0 на повторний виклик).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportBatchUndoResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Чужий батч АБО неіснуючий id (сервер не розрізняє).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/waitlist": {
      "post": {
        "summary": "Sign-up на waitlist для майбутнього Pro-тіру (анонімний)",
        "tags": [
          "monetization"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WaitlistSubmit"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submitted (created=true) або уже був у списку (created=false)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaitlistSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — rate-limit перевищено.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/waitlist": {
      "post": {
        "summary": "Sign-up на waitlist для майбутнього Pro-тіру (v1 alias для /api/waitlist)",
        "tags": [
          "monetization"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WaitlistSubmit"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submitted (created=true) або уже був у списку (created=false)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WaitlistSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — rate-limit перевищено.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/feedback": {
      "post": {
        "summary": "Надіслати in-app фідбек (анонімний)",
        "tags": [
          "feedback"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedbackSubmit"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Збережено — `id` рядка у `feedback_entries`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedbackSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — rate-limit перевищено.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/feedback": {
      "post": {
        "summary": "Надіслати in-app фідбек (v1 alias для /api/feedback)",
        "tags": [
          "feedback"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FeedbackSubmit"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Збережено — `id` рядка у `feedback_entries`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FeedbackSubmitResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests — rate-limit перевищено.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/billing/checkout": {
      "post": {
        "summary": "Створити Stripe Checkout session для Plus/Pro",
        "tags": [
          "monetization"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillingCheckoutRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session ready; client redirects to `url`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingCheckoutResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Stripe billing env is not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/billing/status": {
      "get": {
        "summary": "Поточний Stripe subscription state користувача",
        "tags": [
          "monetization"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current subscription snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingStatusResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/billing/portal": {
      "post": {
        "summary": "Стартує Stripe Customer Portal session (self-serve billing)",
        "description": "Створює short-lived redirect URL у Stripe Customer Portal, де користувач може скасувати підписку, оновити платіжний метод або змінити план. Потребує `provider_customer_id` у `subscriptions` (готується checkout-flow-ом + webhook-ом).",
        "tags": [
          "monetization"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Portal session готова; клієнт редіректить на `url`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingPortalResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Користувач не має billing customer record-у (ще не платив).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Stripe billing env is not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/billing/providers": {
      "get": {
        "summary": "Payment-провайдери, доступні юзеру (кнопки на /pricing)",
        "tags": [
          "monetization"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "UA → увімкнені liqpay/plata; інші країни → stripe.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingProvidersResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/billing/cancel": {
      "post": {
        "summary": "Скасувати Pro (власна кнопка; LiqPay/Plata без Customer Portal)",
        "description": "Скасовує активну підписку через provider.cancelSubscription (LiqPay unsubscribe / Plata stop-scheduler). Доступ лишається до кінця оплаченого періоду (cancel_at_period_end).",
        "tags": [
          "monetization"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Скасування прийнято.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillingCancelResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "Billing env is not configured.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/billing/stripe-webhook": {
      "post": {
        "summary": "Stripe webhook delivery endpoint",
        "tags": [
          "monetization"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "stripe-signature",
            "schema": {
              "type": "string",
              "description": "Stripe webhook signature header (`v1` HMAC)."
            },
            "required": true,
            "description": "Stripe webhook signature header (`v1` HMAC)."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/billing/liqpay-callback": {
      "post": {
        "summary": "LiqPay server callback (form data+signature, sha1)",
        "tags": [
          "monetization"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/billing/plata-webhook": {
      "post": {
        "summary": "Plata/monopay webhook (JSON, X-Sign ECDSA)",
        "tags": [
          "monetization"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "x-sign",
            "schema": {
              "type": "string",
              "description": "monopay ECDSA signature over the raw request body."
            },
            "required": true,
            "description": "monopay ECDSA signature over the raw request body."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/transcribe": {
      "post": {
        "summary": "Голосова транскрипція через Groq Whisper (audio/* → текст)",
        "description": "Body — сирий аудіо-блоб (`Content-Type: audio/webm | audio/ogg | audio/mp4 | …`), ліміт 10 MB. Query визначає мову (auto-detect якщо порожньо) та prompt для доменних термінів. Потребує активну сесію + сконфігурований GROQ_API_KEY (503 інакше).",
        "tags": [
          "transcribe"
        ],
        "security": [
          {
            "cookieAuth": []
          },
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "language",
            "schema": {
              "description": "ISO-код мови, напр. uk або en. Якщо порожньо — auto-detect.",
              "type": "string",
              "minLength": 2,
              "maxLength": 8
            },
            "description": "ISO-код мови, напр. uk або en. Якщо порожньо — auto-detect."
          },
          {
            "in": "query",
            "name": "prompt",
            "schema": {
              "description": "Доменна підказка (списки вправ, продуктів тощо).",
              "type": "string",
              "maxLength": 1024
            },
            "description": "Доменна підказка (списки вправ, продуктів тощо)."
          }
        ],
        "requestBody": {
          "content": {
            "audio/webm": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/ogg": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/mp4": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/m4a": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/mpeg": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/mp3": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/wav": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/x-wav": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/wave": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "audio/flac": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Транскрипція успішна.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TranscribeResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — потрібна активна сесія.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "413": {
            "description": "Payload завеликий (>10 MB).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "415": {
            "description": "Непідтримуваний Content-Type (очікуємо audio/*).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "GROQ_API_KEY не сконфігурований на сервері.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/metrics/web-vitals": {
      "post": {
        "summary": "Ingest Core Web Vitals (LCP / INP / FCP / TTFB / CLS)",
        "description": "Анонімний beacon-endpoint для `navigator.sendBeacon` при pagehide / visibilitychange=hidden. Завжди відповідає 204 No Content — навіть на malformed payload (sendBeacon ігнорує відповідь, не даємо feedback-у зондам).",
        "tags": [
          "observability"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebVitalsPayload"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Accepted (завжди 204, незалежно від валідності payload)."
          }
        }
      }
    },
    "/api/food-search": {
      "get": {
        "summary": "OpenFoodFacts search proxy",
        "tags": [
          "nutrition"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "q",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 120
            },
            "required": true
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 8,
              "type": "integer",
              "minimum": 1,
              "maximum": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/barcode": {
      "get": {
        "summary": "OpenFoodFacts barcode lookup",
        "tags": [
          "nutrition"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "barcode",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 32
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request — payload не пройшов zod-валідацію.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/livez": {
      "get": {
        "summary": "Liveness probe",
        "tags": [
          "ops"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {},
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/readyz": {
      "get": {
        "summary": "Readiness probe (DB connectivity)",
[...]
